src/main/resources/QQ.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WebXml.com.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://WebXml.com.cn/">  
  <wsdl:types> 
    <s:schema elementFormDefault="qualified" targetNamespace="http://WebXml.com.cn/"> 
      <s:element name="qqCheckOnline"> 
        <s:complexType> 
          <s:sequence> 
            <s:element minOccurs="0" maxOccurs="1" name="qqCode" type="s:string"/> 
          </s:sequence> 
        </s:complexType> 
      </s:element>  
      <s:element name="qqCheckOnlineResponse"> 
        <s:complexType> 
          <s:sequence> 
            <s:element minOccurs="0" maxOccurs="1" name="qqCheckOnlineResult" type="s:string"/> 
          </s:sequence> 
        </s:complexType> 
      </s:element>  
      <s:element name="string" nillable="true" type="s:string"/> 
    </s:schema> 
  </wsdl:types>  
  <wsdl:message name="qqCheckOnlineSoapIn"> 
    <wsdl:part name="parameters" element="tns:qqCheckOnline"/> 
  </wsdl:message>  
  <wsdl:message name="qqCheckOnlineSoapOut"> 
    <wsdl:part name="parameters" element="tns:qqCheckOnlineResponse"/> 
  </wsdl:message>  
  <wsdl:message name="qqCheckOnlineHttpGetIn"> 
    <wsdl:part name="qqCode" type="s:string"/> 
  </wsdl:message>  
  <wsdl:message name="qqCheckOnlineHttpGetOut"> 
    <wsdl:part name="Body" element="tns:string"/> 
  </wsdl:message>  
  <wsdl:message name="qqCheckOnlineHttpPostIn"> 
    <wsdl:part name="qqCode" type="s:string"/> 
  </wsdl:message>  
  <wsdl:message name="qqCheckOnlineHttpPostOut"> 
    <wsdl:part name="Body" element="tns:string"/> 
  </wsdl:message>  
  <wsdl:portType name="qqOnlineWebServiceSoap"> 
    <wsdl:operation name="qqCheckOnline">  
      <wsdl:input message="tns:qqCheckOnlineSoapIn"/>  
      <wsdl:output message="tns:qqCheckOnlineSoapOut"/> 
    </wsdl:operation> 
  </wsdl:portType>  
  <wsdl:portType name="qqOnlineWebServiceHttpGet"> 
    <wsdl:operation name="qqCheckOnline">  
      <wsdl:input message="tns:qqCheckOnlineHttpGetIn"/>  
      <wsdl:output message="tns:qqCheckOnlineHttpGetOut"/> 
    </wsdl:operation> 
  </wsdl:portType>  
  <wsdl:portType name="qqOnlineWebServiceHttpPost"> 
    <wsdl:operation name="qqCheckOnline"> 
      <wsdl:input message="tns:qqCheckOnlineHttpPostIn"/>  
      <wsdl:output message="tns:qqCheckOnlineHttpPostOut"/> 
    </wsdl:operation> 
  </wsdl:portType>  
  <wsdl:binding name="qqOnlineWebServiceSoap" type="tns:qqOnlineWebServiceSoap"> 
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>  
    <wsdl:operation name="qqCheckOnline"> 
      <soap:operation soapAction="http://WebXml.com.cn/qqCheckOnline" style="document"/>  
      <wsdl:input> 
        <soap:body use="literal"/> 
      </wsdl:input>  
      <wsdl:output> 
        <soap:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation> 
  </wsdl:binding>  
  <wsdl:binding name="qqOnlineWebServiceSoap12" type="tns:qqOnlineWebServiceSoap"> 
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>  
    <wsdl:operation name="qqCheckOnline"> 
      <soap12:operation soapAction="http://WebXml.com.cn/qqCheckOnline" style="document"/>  
      <wsdl:input> 
        <soap12:body use="literal"/> 
      </wsdl:input>  
      <wsdl:output> 
        <soap12:body use="literal"/> 
      </wsdl:output> 
    </wsdl:operation> 
  </wsdl:binding>  
  <wsdl:binding name="qqOnlineWebServiceHttpGet" type="tns:qqOnlineWebServiceHttpGet"> 
    <http:binding verb="GET"/>  
    <wsdl:operation name="qqCheckOnline"> 
      <http:operation location="/qqCheckOnline"/>  
      <wsdl:input> 
        <http:urlEncoded/> 
      </wsdl:input>  
      <wsdl:output> 
        <mime:mimeXml part="Body"/> 
      </wsdl:output> 
    </wsdl:operation> 
  </wsdl:binding>  
  <wsdl:binding name="qqOnlineWebServiceHttpPost" type="tns:qqOnlineWebServiceHttpPost"> 
    <http:binding verb="POST"/>  
    <wsdl:operation name="qqCheckOnline"> 
      <http:operation location="/qqCheckOnline"/>  
      <wsdl:input> 
        <mime:content type="application/x-www-form-urlencoded"/> 
      </wsdl:input>  
      <wsdl:output> 
        <mime:mimeXml part="Body"/> 
      </wsdl:output> 
    </wsdl:operation> 
  </wsdl:binding>  
  <wsdl:service name="qqOnlineWebService"> 
    <wsdl:port name="qqOnlineWebServiceSoap" binding="tns:qqOnlineWebServiceSoap"> 
      <soap:address location="http://www.webxml.com.cn/webservices/qqOnlineWebService.asmx"/> 
    </wsdl:port>  
    <wsdl:port name="qqOnlineWebServiceSoap12" binding="tns:qqOnlineWebServiceSoap12"> 
      <soap12:address location="http://www.webxml.com.cn/webservices/qqOnlineWebService.asmx"/> 
    </wsdl:port>  
    <wsdl:port name="qqOnlineWebServiceHttpGet" binding="tns:qqOnlineWebServiceHttpGet"> 
      <http:address location="http://www.webxml.com.cn/webservices/qqOnlineWebService.asmx"/> 
    </wsdl:port>  
    <wsdl:port name="qqOnlineWebServiceHttpPost" binding="tns:qqOnlineWebServiceHttpPost"> 
      <http:address location="http://www.webxml.com.cn/webservices/qqOnlineWebService.asmx"/> 
    </wsdl:port> 
  </wsdl:service> 
</wsdl:definitions>